<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<bean id="propertyConfigurer"
		class="tv.acframework.config.diamond.spring.ExtendedPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:system.properties</value>
			</list>
		</property>
		<property name="loadDiamond" value="true" />
	</bean>
		
	<bean id="agentMonitor" class="tv.acframework.qos.server.agent.AgentMonitor">
  		<constructor-arg index="0" ref="monitorSendService" />  
    </bean>
    
		
	<bean id="logFileReadStarter" class="tv.acframework.qos.server.agent.LogFileReadStarter" init-method="init">
  		<property name="baseFilePath" value="${log.file.path:/export/logs/qos/}" />
   		<property name="agentMonitor" ref="agentMonitor" /> 		
    </bean>
    
    <!-- 
   	<bean id="springUtility" class="tv.acframework.core.utils.SpringUtility" lazy-init="false" /> 
	<bean id="loggingJmxInit" class="tv.acframework.qos.server.agent.JmxInit" init-method="init" />
	 -->
</beans>